
.tittle{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    font-size: 50px;
    font-weight: 1000;
    color: rgb(0, 0, 0);
}
}
.btn-container {
    text-align: center;
    

}
.full-container{
    height: 100vh;
    margin: 0;
    width: 100%;
}
